<div class="card" style="width: 18rem;">

    <img src="~/img/Bradesco.png" class="card-img-top"/>

    <div class="card-body">
        <div class="d-grid gap-2 d-md-flex justify-content-md-center mb-2">
            <h5>Maio</h5>
            <h5 style="color:darkgreen">R$ 1046,20</h5>
        </div>
        
    </div>

    <div class="d-grid gap-2 d-md-flex justify-content-md-end mb-2">
        <button type="button" class="btn btn-outline-secondary m-2">Fatura</button>
        <button type="button" class="btn btn-outline-primary m-2">Adicionar compra</button>
    </div>
</div>